@import "../../../../assets/styles/tokens/colors";

.content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background: var(--color-primary);
}
