@import "../../../../assets/styles/tokens/colors";

#d-aspect-ratio-container {
  min-width: 320px;
}

#d-aspect-ratio-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background: var(--color-primary);
}
