@import "../../../../assets/styles/tokens/gaps";
@import "../../../../assets/styles/tokens/colors";

#d-grid {
  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background: var(--color-primary);
    min-height: var(--gap-10x);

    &:nth-child(2n + 1) {
      background: var(--color-accent);
    }
  }
}
