@import "../mixins/transitions";

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(32px);
  transition-delay: 0ms !important;
}

.list-enter-to,
.list-leave-from {
  opacity: 1;
  transform: translateY(0);
}

.list-enter-active,
.list-leave-active {
  @include transition-short;
}
