@import "../mixins/transitions";

.opacity-backdrop-enter-from,
.opacity-leave-to {
  opacity: 0;
  position: absolute;
}

.opacity-backdrop-enter-to,
.opacity-backdrop-leave-from {
  // TODO: move backdrop opacity to tokens ???
  opacity: 0.2;
}

.opacity-backdrop-enter-active,
.opacity-backdrop-leave-active {
  @include transition-short;
}
