$sm-breakpoint: 480px !default;
$md-breakpoint: 768px !default;
$lg-breakpoint: 1024px !default;
$xl-breakpoint: 1280px !default;
$xxl-breakpoint: 1480px !default;

/**
 * Map to CSS custom properties
 */

:root {
  --sm-breakpoint: #{$sm-breakpoint};
  --md-breakpoint: #{$md-breakpoint};
  --lg-breakpoint: #{$lg-breakpoint};
  --xl-breakpoint: #{$xl-breakpoint};
  --xxl-breakpoint: #{$xxl-breakpoint};
}

// the :export directive is the magic sauce for webpack.
// this variables will be available to js on build time.
// noinspection CssUnknownProperty
:export {
  sm: $sm-breakpoint;
  md: $md-breakpoint;
  lg: $lg-breakpoint;
  xl: $xl-breakpoint;
  xxl: $xxl-breakpoint;
}
