// Slightly lighter a color
// @param {Color} $color - color to shade
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function shade($color, $percentage) {
  $white: var(--white);
  @return mix($white, $color, $percentage);
}

:root {
  /**
   basic colors
   */
  --black: #000000;
  --white: #ffffff;
  --blue: #325efa;
  --red: #ca2b2b;

  /**
   main colors
   */

  --purple-500: #321f54;
  --tangerine-500: #ff843f;
  --gray-900: #282828;

  /**
   main colors shades
   */

  --purple-shade-step: 10;
  --purple-450: shade(var(--purple-500), 1 * var(--purple-shade-step));
  --purple-400: shade(var(--purple-500), 2 * var(--purple-shade-step));
  --purple-350: shade(var(--purple-500), 3 * var(--purple-shade-step));
  --purple-300: shade(var(--purple-500), 4 * var(--purple-shade-step));
  --purple-250: shade(var(--purple-500), 5 * var(--purple-shade-step));
  --purple-200: shade(var(--purple-500), 6 * var(--purple-shade-step));
  --purple-150: shade(var(--purple-500), 7 * var(--purple-shade-step));
  --purple-100: shade(var(--purple-500), 8 * var(--purple-shade-step));
  --purple-050: shade(var(--purple-500), 9 * var(--purple-shade-step));

  --tangerine-shade-step: 10;
  --tangerine-450: shade(var(--tangerine-500), 1 * var(--tangerine-shade-step));
  --tangerine-400: shade(var(--tangerine-500), 2 * var(--tangerine-shade-step));
  --tangerine-350: shade(var(--tangerine-500), 3 * var(--tangerine-shade-step));
  --tangerine-300: shade(var(--tangerine-500), 4 * var(--tangerine-shade-step));
  --tangerine-250: shade(var(--tangerine-500), 5 * var(--tangerine-shade-step));
  --tangerine-200: shade(var(--tangerine-500), 6 * var(--tangerine-shade-step));
  --tangerine-150: shade(var(--tangerine-500), 7 * var(--tangerine-shade-step));
  --tangerine-100: shade(var(--tangerine-500), 8 * var(--tangerine-shade-step));
  --tangerine-050: shade(var(--tangerine-500), 9 * var(--tangerine-shade-step));

  --gray-shade-step: 12;
  --gray-800: shade(var(--gray-900), 1 * var(--gray-shade-step));
  --gray-700: shade(var(--gray-900), 2 * var(--gray-shade-step));
  --gray-650: shade(var(--gray-900), 2.5 * var(--gray-shade-step));
  --gray-600: shade(var(--gray-900), 3 * var(--gray-shade-step));
  --gray-500: shade(var(--gray-900), 4 * var(--gray-shade-step));
  --gray-400: shade(var(--gray-900), 5 * var(--gray-shade-step));
  --gray-300: shade(var(--gray-900), 6 * var(--gray-shade-step));
  --gray-200: shade(var(--gray-900), 7 * var(--gray-shade-step));
  --gray-100: shade(var(--gray-900), 8 * var(--gray-shade-step));

  /**
   semantic colors
   */

  --primary: var(--purple-500);
  --primary-active: var(--purple-400);
  --primary-disabled: var(--purple-200);

  --accent: var(--tangerine-500);
  --accent-active: var(--tangerine-400);
  --accent-disabled: var(--tangerine-200);

  --text: var(--gray-900);
  --text-aux: var(--gray-650);
  --text-alt: var(--gray-400);

  --background: var(--gray-100);
  --separator: var(--gray-200);

  --danger: var(--red);
  --link: var(--blue);

  /**
   special colors
   */

  --facebook: #3b5998;
  --twitter: #00acee;
  --vkontakte: #4a76a8;
}
