$large-control-height: 48px !default;
$medium-control-height: 38px !default;
$small-control-height: 28px !default;

$control-min-width: 240px !default;

$border-radius: 4px !default;

$button-font-weight: 500 !default;

/**
 * Map to CSS custom properties
 */

:root {
  --large-control-height: #{$large-control-height};
  --medium-control-height: #{$medium-control-height};
  --small-control-height: #{$small-control-height};

    --control-min-width: #{$control-min-width};

  --border-radius: #{$border-radius};

  --button-font-weight: #{$button-font-weight};
}

// the :export directive is the magic sauce for webpack.
// this variables will be available to js on build time.
// noinspection CssUnknownProperty
:export {
  large-control-height: $large-control-height;
  medium-control-height: $medium-control-height;
  small-control-height: $small-control-height;

  control-min-width: $control-min-width;

  border-radius: $border-radius;

  button-font-weight: $button-font-weight;
}
