$xs-grid-columns-count: 2;
$xs-grid-offset: 18px;
$xs-grid-gutter: 18px;
$xs-grid-width: 100%;

$sm-grid-columns-count: 6;
$sm-grid-offset: 18px;
$sm-grid-gutter: 18px;
$sm-grid-width: 100%;

$md-grid-columns-count: 12;
$md-grid-offset: 24px;
$md-grid-gutter: 24px;
$md-grid-width: 100%;

$lg-grid-columns-count: 12;
$lg-grid-offset: 0;
$lg-grid-gutter: 24px;
$lg-grid-width: 960px;

$xl-grid-columns-count: 12;
$xl-grid-offset: 0;
$xl-grid-gutter: 24px;
$xl-grid-width: 1140px;

$xxl-grid-columns-count: 12;
$xxl-grid-offset: 0;
$xxl-grid-gutter: 24px;
$xxl-grid-width: 1320px;
