@import "./colors";

$outline-color: $blue !default;
$outline-width: 2px !default;

/**
 * Map to CSS custom properties
 */

:root {
  --outline-color: #{$outline-color};
  --outline-width: #{$outline-width};
}

// the :export directive is the magic sauce for webpack.
// this variables will be available to js on build time.
// noinspection CssUnknownProperty
:export {
  outline-color: $outline-color;
  outline-width: $outline-width;
}
