$shadow-horizontal-offset: 0;
$shadow-vertical-offset: 8px;
$shadow-blur-radius: 8px;
$shadow-spread-radius: -4px;
$shadow-color: rgba(0, 0, 0, 0.1);

/**
 * Map to CSS custom properties
 */

:root {
  --shadow-horizontal-offset: #{$shadow-horizontal-offset};
  --shadow-vertical-offset: #{$shadow-vertical-offset};
  --shadow-blur-radius: #{$shadow-blur-radius};
  --shadow-spread-radius: #{$shadow-spread-radius};
  --shadow-color: #{$shadow-color};
}

// the :export directive is the magic sauce for webpack.
// this variables will be available to js on build time.
// noinspection CssUnknownProperty
:export {
  shadow-horizontal-offset: $shadow-horizontal-offset;
  shadow-vertical-offset: $shadow-vertical-offset;
  shadow-blur-radius: $shadow-blur-radius;
  shadow-spread-radius: $shadow-spread-radius;
  shadow-color: $shadow-color;
}
