$transition-time-short: 150ms !default;
$transition-time-medium: 300ms !default;
$transition-time-long: 600ms !default;

$transition-delay-short: 30ms !default;
$transition-delay-medium: 60ms !default;
$transition-delay-long: 120ms !default;

$transition-property: all !default;
$transition-function: ease !default;

/**
 * Map to CSS custom properties
 */

:root {
  --transition-time-short: #{$transition-time-short};
  --transition-time-medium: #{$transition-time-medium};
  --transition-time-long: #{$transition-time-long};

  --transition-delay-short: #{$transition-delay-short};
  --transition-delay-medium: #{$transition-delay-medium};
  --transition-delay-long: #{$transition-delay-long};

  --transition-property: #{$transition-property};
  --transition-function: #{$transition-function};
}

// the :export directive is the magic sauce for webpack.
// this variables will be available to js on build time.
// noinspection CssUnknownProperty
:export {
  transition-time-short: $transition-time-short;
  transition-time-medium: $transition-time-medium;
  transition-time-long: $transition-time-long;

  transition-delay-short: $transition-delay-short;
  transition-delay-medium: $transition-delay-medium;
  transition-delay-long: $transition-delay-long;

  transition-property: $transition-property;
  transition-function: $transition-function;
}
