@import "../tokens/control";

@mixin large-control {
  height: var(--large-control-height);

  &.__smooth {
    border-radius: calc(var(--large-control-height) / 2);

    & + .outline {
      border-radius: calc((var(--large-control-height) + 2px) / 2);
    }
  }

  &.__rounded {
    border-radius: var(--border-radius);

    & + .outline {
      border-radius: calc(var(--border-radius) + 2px);
    }
  }
}

@mixin medium-control {
  height: var(--medium-control-height);

  &.__smooth {
    border-radius: calc(var(--medium-control-height) / 2);

    & + .outline {
      border-radius: calc((var(--medium-control-height) + 2px) / 2);
    }
  }

  &.__rounded {
    border-radius: var(--border-radius);

    & + .outline {
      border-radius: calc(var(--border-radius) + 2px);
    }
  }
}

@mixin small-control {
  height: var(--small-control-height);

  &.__smooth {
    border-radius: calc(var(--small-control-height) / 2);

    & + .outline {
      border-radius: calc((var(--small-control-height) + 2px)/ 2);
    }
  }

  &.__rounded {
    border-radius: var(--border-radius);

    & + .outline {
      border-radius: calc(var(--border-radius) + 2px);
    }
  }
}
