@import "../tokens/controls";
@import "../tokens/outline";

@mixin large-control {
  height: var(--large-control-height);

  &.__smooth {
    border-radius: calc(var(--large-control-height) / 2);

    & + .outline,
    &:before {
      border-radius: calc(
        (var(--large-control-height) + 2 * var(--outline-width)) / 2
      );
    }
  }

  &.__rounded {
    border-radius: var(--border-radius);

    & + .outline,
    &:before {
      border-radius: calc(var(--border-radius) + 2 * var(--outline-width));
    }
  }
}

@mixin medium-control {
  height: var(--medium-control-height);

  &.__smooth {
    border-radius: calc(var(--medium-control-height) / 2);

    & + .outline,
    &:before {
      border-radius: calc(
        (var(--medium-control-height) + 2 * var(--outline-width)) / 2
      );
    }
  }

  &.__rounded {
    border-radius: var(--border-radius);

    & + .outline,
    &:before {
      border-radius: calc(var(--border-radius) + 2 * var(--outline-width));
    }
  }
}

@mixin small-control {
  height: var(--small-control-height);

  &.__smooth {
    border-radius: calc(var(--small-control-height) / 2);

    & + .outline,
    &:before {
      border-radius: calc(
        (var(--small-control-height) + 2 * var(--outline-width)) / 2
      );
    }
  }

  &.__rounded {
    border-radius: var(--border-radius);

    & + .outline,
    &:before {
      border-radius: calc(var(--border-radius) + 2 * var(--outline-width));
    }
  }
}
