@import "../tokens/transitions";

@mixin transition-short {
  transition: var(--transition-property) var(--transition-time-short)
    var(--transition-function);
}

@mixin transition-medium {
  transition: var(--transition-property) var(--transition-time-medium)
    var(--transition-function);
}

@mixin transition-long {
  transition: var(--transition-property) var(--transition-time-long)
    var(--transition-function);
}
