@import "../tokens/typography";

@mixin small-text {
  font-size: var(--small-font-size);
  line-height: var(--small-line-height);
  font-weight: var(--small-font-weight);
}

@mixin general-text {
  font-size: var(--general-font-size);
  line-height: var(--general-line-height);
  font-weight: var(--general-font-weight);
}

@mixin longread-text {
  font-size: var(--longread-font-size);
  line-height: var(--longread-line-height);
  font-weight: var(--longread-font-weight);
}

@mixin augmented-text {
  font-size: var(--augmented-font-size);
  line-height: var(--augmented-line-height);
  font-weight: var(--augmented-font-weight);
}

@mixin h5-heading {
  font-size: var(--h5-font-size);
  line-height: var(--h5-line-height);
  font-weight: var(--h5-font-weight);
}

@mixin h4-heading {
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
  font-weight: var(--h4-font-weight);
}

@mixin h3-heading {
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  font-weight: var(--h3-font-weight);
}

@mixin h2-heading {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-weight: var(--h2-font-weight);
}

@mixin h1-heading {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: var(--h1-font-weight);
}

@mixin text-sizes {
  .__augmented {
    @include augmented-text;
  }

  .__longread {
    @include longread-text;
  }

  .__general {
    @include general-text;
  }

  .__small {
    @include small-text;
  }
}

@mixin heading-sizes {
  h1,
  .__h1 {
    @include h1-heading;
  }

  h2,
  .__h2 {
    @include h2-heading;
  }

  h3,
  .__h3 {
    @include h3-heading;
  }

  h4,
  .__h4 {
    @include h4-heading;
  }

  h5,
  .__h5 {
    @include h5-heading;
  }
}

@mixin typography-sizes {
  @include text-sizes;
  @include heading-sizes;
}
