// basic colors

$black: #000000;
$white: #ffffff;
$blue: #325efa;
$red: #ca2b2b;

// shade function

/// Slightly lighter a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix($white, $color, $percentage);
}

// bases and shades

$purple-500: #321f54;
$purple-shade-step: 10;
$purple-450: shade($purple-500, 1 * $purple-shade-step); // #473565;
$purple-400: shade($purple-500, 2 * $purple-shade-step); // #5b4c76;
$purple-350: shade($purple-500, 3 * $purple-shade-step); // #706287;
$purple-300: shade($purple-500, 4 * $purple-shade-step); // #847998;
$purple-250: shade($purple-500, 5 * $purple-shade-step); // #998faa;
$purple-200: shade($purple-500, 6 * $purple-shade-step); // #ada5bb;
$purple-150: shade($purple-500, 7 * $purple-shade-step); // #c2bccc;
$purple-100: shade($purple-500, 8 * $purple-shade-step); // #d6d2dd;
$purple-050: shade($purple-500, 9 * $purple-shade-step); // #ebe9ee;

$tangerine-500: #ff843f;
$tangerine-shade-step: 10;
$tangerine-450: shade($tangerine-500, 1 * $tangerine-shade-step); // #ff9052;
$tangerine-400: shade($tangerine-500, 2 * $tangerine-shade-step); // #ff9d65;
$tangerine-350: shade($tangerine-500, 3 * $tangerine-shade-step); // #ffa979;
$tangerine-300: shade($tangerine-500, 4 * $tangerine-shade-step); // #ffb58c;
$tangerine-250: shade($tangerine-500, 5 * $tangerine-shade-step); // #ffc29f;
$tangerine-200: shade($tangerine-500, 6 * $tangerine-shade-step); // #ffceb2;
$tangerine-150: shade($tangerine-500, 7 * $tangerine-shade-step); // #ffdac5;
$tangerine-100: shade($tangerine-500, 8 * $tangerine-shade-step); // #ffe6d9;
$tangerine-050: shade($tangerine-500, 9 * $tangerine-shade-step); // #fff3ec;

$gray-shade-step: 12;
$gray-900: shade($black, 15.5); // #282828;
$gray-800: shade($gray-900, 1 * $gray-shade-step); // #424242
$gray-700: shade($gray-900, 2 * $gray-shade-step); // #5c5c5c
$gray-650: shade($gray-900, 2.5 * $gray-shade-step); // #696969
$gray-600: shade($gray-900, 3 * $gray-shade-step); // #757575
$gray-500: shade($gray-900, 4 * $gray-shade-step); // #8f8f8f
$gray-400: shade($gray-900, 5 * $gray-shade-step - 0.5); // #a8a8a8
$gray-300: shade($gray-900, 6 * $gray-shade-step - 0.5); // #c2c2c2
$gray-200: shade($gray-900, 7 * $gray-shade-step - 0.75); // #dbdbdb
$gray-100: shade($gray-900, 8 * $gray-shade-step - 0.5); // #f5f5f5

// semantic colors

$primary: $purple-500;
$primary-active: $purple-400;
$primary-disabled: $purple-200;

$accent: $tangerine-500;
$accent-active: $tangerine-400;
$accent-disabled: $tangerine-200;

$text: $gray-900;
$text-aux: $gray-650;
$text-alt: $gray-400;

$background: $gray-100;
$separator: $gray-200;

$danger: $red;
$link: $blue;

$stem-career: #730acd;
$edunano: #009cdc;
$allotrop: #12497a;
$vkontakte: #4a76a8;
$facebook: #3b5998;
$twitter: #00acee;
