// TODO: docs, make function to not hardcode each x ???

$gap-base: 4px;
$gap-2x: 2 * $gap-base;
$gap-3x: 3 * $gap-base;
$gap-4x: 4 * $gap-base;
$gap-5x: 5 * $gap-base;
$gap-6x: 6 * $gap-base;
$gap-7x: 7 * $gap-base;
$gap-8x: 8 * $gap-base;
$gap-9x: 9 * $gap-base;
$gap-10x: 10 * $gap-base;
$gap-11x: 11 * $gap-base;
$gap-12x: 12 * $gap-base;
$gap-14x: 14 * $gap-base;
$gap-15x: 15 * $gap-base;
$gap-16x: 16 * $gap-base;
$gap-17x: 17 * $gap-base;
$gap-20x: 20 * $gap-base;
$gap-24x: 24 * $gap-base;
$gap-26x: 26 * $gap-base;
$gap-28x: 28 * $gap-base;
$gap-30x: 30 * $gap-base;
$gap-35x: 35 * $gap-base;
$gap-36x: 36 * $gap-base;
$gap-53x: 53 * $gap-base;
