.text {
  --small-line-height: 20px;
  --small-font-size: 13px;

  --general-line-height: 22px;
  --general-font-size: 15px;

  --longread-line-height: 24px;
  --longread-font-size: 16px;

  --augmented-line-height: 26px;
  --augmented-font-size: 18px;
}
