.d-typography {
  --small-font-size: 13px;
  --small-line-height: 20px;
  --small-font-weight: normal;

  --general-font-size: 15px;
  --general-line-height: 22px;
  --general-font-weight: normal;

  --longread-font-size: 16px;
  --longread-line-height: 24px;
  --longread-font-weight: normal;

  --augmented-font-size: 18px;
  --augmented-line-height: 26px;
  --augmented-font-weight: normal;

  --h5-font-size: 15px;
  --h5-line-height: 22px;
  --h5-font-weight: bold;

  --h4-font-size: 19px;
  --h4-line-height: 26px;
  --h4-font-weight: bold;

  --h3-font-size: 25px;
  --h3-line-height: 34px;
  --h3-font-weight: bold;

  --h2-font-size: 36px;
  --h2-line-height: 46px;
  --h2-font-weight: bold;

  --h1-font-size: 48px;
  --h1-line-height: 60px;
  --h1-font-weight: bold;
}
