@import "./mixins/transitions";
@import "./tokens/typography";

.control-error-enter-from,
.control-error-leave-to {
  opacity: 0;
  transform: translateY(-25%);
  max-height: 0;
  overflow: hidden;
}

.control-error-enter-to,
.control-error-leave-from {
  opacity: 1;
  transform: translateY(0);
  // error message shouldn't be too long
  max-height: calc(var(--small-line-height) * 3);
}

.control-error-enter-active,
.control-error-leave-active {
  @include transition-short;
}
