@import "./mixins/transitions";
@import "./tokens/typography";

.control-error-enter,
.control-error-leave-to {
  opacity: 0;
  max-height: 0;
  transform: translateY(-50%);
}

.control-error-enter-to,
.control-error-leave {
  opacity: 1;
  max-height: calc(
    #{$small-line-height} * 3
  ); // error strings shouldn't be very long
  transform: translateY(0);
}

.control-error-enter-active,
.control-error-leave-active {
  @include transition-short;
}
